body{
    background-color: var(--bs-gray-200);
}

/* SIDE NAV */

#side-nav{
    position: fixed;
    top: 15vh;
    right: 10vw;
    height: 60vh;
    border-radius: 1rem;
    box-shadow: 0 4px 30px #0000002a;
}

#side-nav > div{
    height: 20vh;
    padding: 0;
    border-radius: 1rem 1rem 0 0;
}

#side-nav > div > *{
    font-size: medium;
}

#side-nav > ol{
    margin: 2vh 0;
}

#side-nav > ol > *{
    margin-bottom: 2vh;
}

#side-nav > a > button{
    position: relative;
    top: 5%;
    left: 15%;
    background-color: var(--bs-primary);
    font-weight: bold;
}

#side-nav > a > button:hover{
    background-color: var(--bs-secondary);
}

/* NEWS FEED */

#news_feed #news_body h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#news_feed #news_body span{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

#news_feed #news_body #news_content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

/* NEWS */

.news{
    border-width: 0.15rem !important;
    border-radius: 1.5rem !important;
    border-color: transparent !important;
    background: rgba(255, 255, 255, 0.24) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(4.7px) !important;
    -webkit-backdrop-filter: blur(4.7px) !important;
}

.news #vote i{
    font-size:xx-large;
    margin-top: -1vh;
    margin-bottom: -1vh;
}

.edit-button{
    font-size: x-large;
    padding: 0;
    color: var(--bs-gray-800);
}

.edit-button:hover{
    color: var(--bs-gray-200);
}

/* LOGIN */

.static-form{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 5vh;
}

.static-form input{
    margin-bottom: 2vh;
}

.static-form input:not([type="file"], [type="submit"]){
  background-color: #ebeced55;
  border: 1px solid #ebeced;
  border-radius: 10px;
  padding: 2%;
  max-height: 5vh;
  min-height: 4vh;
}

.static-form input[type="text"], .static-form input[type="password"]{
    color: var(--bs-gray-300);
    font-size: large;
}

.static-form input:focus{
  outline: none;
  background-color: #ebecedaa;
}

.mini-username{
    text-decoration: none;
}

/* RTE */
#tag-list{
    display: grid;
    justify-content:space-around;
    
    grid-template-columns: auto auto auto auto auto;
    transition: all 1s ease-in-out;
    padding: 1vh 1vw;
    box-shadow: inset 0 0 10px #0000002a;
    border-radius: 1vw 1vw 0 0;
}

#tag-list input{
    margin-right: 5px;
}

#tag-selection{
    background-color: var(--bs-gray-300);
    border-radius: 0 0 1vw 1vw;
}

#submission button{
    box-shadow: 0 0 10px #0000002a;
}

#submission button:nth-child(1){
    border: 1px solid var(--bs-secondary);
    background-color: transparent;
}

#submission button:nth-child(1):hover{
    background-color: var(--bs-secondary);
}

#submission button:nth-child(2){
    border: 1px solid var(--bs-primary);
    background-color: var(--bs-primary);
}

/* PROFILE */

#administer > :nth-child(1){
    margin-right: 5vw;
    margin-left: auto;
}

#administer > :nth-child(2){
    margin-right: auto;
    margin-left: 5vw;
}

/* COMMENT */

#comment_section > *{
    margin-left: 8.33%
}