.navbar > div > h1 > a{
    text-decoration: none;
}

.new_news_input{
    margin: 1em;
    width: 95%;
}

.input-group{
    width: 50%;
}

.input-group-text{
    background-color: #e9ecefbb;
}

article.news{
    border-width: 0.15rem !important;
    border-radius: 1.5rem !important;
    border-color: #00000044 !important;
}

article > header a{
    text-decoration: none;
    color: var(--bs-gray-800);
}

article > header a:hover{
    color: var(--bs-gray-800);
}

#reputation{
    font-size: small;
}

#vote{
    margin: auto;
    height: 5vh;
}

form#new_comment{
    margin: auto;
    display:flex;
    justify-content: end;
}

form#new_comment > input[type="text"]{
    width: 50%;
    height: 5vh;
}

form#new_comment > button{
    width: auto;
    height: 5vh;
}



.masthead.banner{
    padding-top: 12.5%;
    padding-bottom: 12.5%;
}


form-div{
    margin: 10rem 0;
}

#name:focus, #email:focus, #password:focus, #password-confirm:focus{
    background-color: #e9ecef5a;
}

#name, #email, #password, #password-confirm{
    font-weight: bold;
    color: lighter;
}

.masthead.login, .masthead.register{
    padding-top: 100vh;
}

#form-newspost form{
    width: 58.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-submit:hover{
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.news-comment{
    max-width: 50%;
    margin-right: 15%;
    margin-left: auto;
}

article.comment > :nth-child(1){
    margin-left: 0;
    margin-right: 1vw;
}

article.comment > :nth-child(2){
    margin-left: 0;
    margin-right: auto;
    font-weight: bold;
    color: var(--bs-gray-700);
}

article.comment > :nth-child(3){
    margin-left: auto;
    margin-right: 0;
    width:auto;
}

#search-bar::placeholder{
    color: var(--bs-gray-600);
}

.news > header > *{
    width: auto;
}

.news > header > :nth-child(1) > a{
    color: var(--bs-gray-900)black;
}

.news > header > :nth-child(2) > a{
    color: var(--bs-gray-700);
    font-weight: bold;
}

#search-bar{
    color: var(--bs-gray-900);
}

#follows{
    width: 80vw;
}

#following{
    width: 10vw;
    max-width: 15vw;
    margin-left: auto;
    margin-right: 5vw;
}

#followers{
    width: 10vw;
    max-width: 15vw;
    margin-left: 5vw;
    margin-right: auto;
}

#following > :nth-child(1), #followers > :nth-child(1){
    font-weight: bold;
}

#intro{
    width: 80vw;
}

#picture > img{
    width: 20vw;
    height: 20vw;
}

#username{
    font-size:xx-large;
    font-weight: bolder;
    color: var(--bs-gray-100);
}

#intro > #reputation{
    font-size:large;
    font-weight: normal;
    color: var(--bs-gray-100);
}

article.news{
    width: 70vw;
}

.author_tools{
    display: flex;
}

.hide
{
    visibility: hidden;
}
